name: Build root dir
on:
  push:
    paths:
      - ./**
      - !isolated-module/**
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - name: build-isolated-module
        uses: actions/checkout@v3
      - name: setup-java
        uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 17
          cache: maven
      - name: build-project
        run: mvn clean install
