jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: dart_project
    steps:
      - uses: actions/checkout@v3
      - name: build
        run: mvn clean install